.contato{
    width: 60%;
    margin: auto;
    font-size: 1.4em;    
}

.info{
    margin-bottom: 50px;
}

.input{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.info select{
    width: 25%;
}

input, select{
    border-radius: 6px;
}

.pedido{
    color:  rgb(214, 130, 130);
}

.pedido input[type="number"]{
    width: 50px;
    font-size: 1.1em;
}

.input button{
    margin-left: auto;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.5s;
    background-color: #fff;
}

.input button:hover{
    background-color:  rgb(214, 130, 130);
    cursor: pointer;
}

.input textarea{
    text-align: center;
    margin-top: auto;
    border-radius: 6px;
}

input{
    transition: all 0.5s;
    font-family: sans-serif;
    font-weight: bolder;
}
input:focus{
    background-color: rgb(223, 182, 182);
}
input::placeholder{
    color: rgb(170, 133, 133);
}

.bigger1{
    font-size: 1.5em;
    font-weight: bold;
    color:  rgb(0, 0, 0)
}

.bigger2{
    font-size: 1.5em;
    font-weight: bold;
    color:  rgb(224, 107, 107)
}
.input label{
    font-weight: bold;
}

