.home{
    text-align: center;
}
.tem-dende{
    color: rgb(255, 255, 255);
    font-size: 1.1em;
}
.home > p{
    margin: 10px;
}
.yellow{
    font-weight: 900;
    color: rgb(245, 225, 49);
    font-size: 1.3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

