.produtos table{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid red;
    width: 80%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:2em;
}
.produtos table tr{
    text-align: center;
}